 
.m1{
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-color: floralwhite;
  
}
body{
    
    width: 100%;
      background-image: url(01.jpg);
     background-size: cover;
  
  
    height: 100%;
    background-size: cover;
    opacity:0.9;
}

.main{
   
    float:right;
    padding:15px;;
    margin-right: 20px;
   width:300px;
    
}
.main input[type="search"]{
    width: 250px;
    background-color: blue;
    color: aliceblue;
    opacity: 0.5;
}
.main input[type="submit"]{
    width: 50px;;
    background-color: goldenrod;
    float: right;
    
}
.main1{
    border: 2px solid red;
     height: 50px;
    text-align: center;
    background-color: aqua;
}
ul{
    list-style: none;
    }
   
ul li{
  text-align: center;
    text-align-last: center;
    float: left;
    width: 80px;
    height: 100%;
    margin-left:10px;
     border-right: 2px solid gray;
    display: block;
    background-color: aqua;
}
 

ul li a{
    
    text-decoration: none;
   font-weight: bolder;
    color: lightyellow;
    font-family: fantasy;
    font-size: 18px;
    
    
}
ul li a:hover{
    background-color: transparent;
    color: fuchsia;
    margin-left: 10px;
    transition-duration: 3s;
    opacity: 1;
 
}

ul li:hover{
    
    
    background-color: transparent;
    opacity: 1;
}
.article h2{
    text-align: center;
    color: #0015D8;
    font-size: 30px;
     
    word-spacing: 30px;
    margin-bottom: 100px;
     
   
    
}
.p3{
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-family: 'Fredoka', sans-serif;
   

    font-family: 'Merriweather', serif;

    font-family: 'Redressed', cursive;
    background-color:#DD600B ;
    margin: 10px 50px;
    padding: 10px;
    border-radius: 50px;
    height: 280px;
    display: inline-block;
    overflow: hidden;
   
}



.icon{
    
  background-color: black;
    float: left;
  line-height: 10px;
    border: 2px solid red;
}
h2{ 
     
    color: aqua;
     
    padding: 10px;
    display: block;
    overflow:hidden;
    
    
}

a{
    
    text-decoration: none;
}
.img-div{
    
  width: 100%;
 
    height: 300px;
    border: 2px solid red;
}
.img1{
    display: block;
    width:500px;
    height:100%;
}
.decristion{
     
     float: right;
    width: 300px;
    height: 500px;
    margin-top: -500px;
}


img{
    width: 300px;
    height: 200px;
   
    padding: 5px;
}

img:hover{
    opacity: 1;
    color:red;
    font-size: 22px;
    font-family: cursive;
    transition-duration: 2s;
    background-color: aquamarine;
    background-size: 20%;
    
}

.p1{
    
    color: firebrick;
    padding:2px;
    text-align: center;
}

.image{
    border: 2px solid gray;
    float: left;
    padding: 5px;
    margin: 2px;
 }
.images-gallary{
margin: auto;
    width: 90%;
    height: 700px;
    margin-bottom: 10px;
}
h5{
    
    text-align: center;
    font-size: 22px;
    color: fuchsia;
    transform-style: flat;
   text-transform: uppercase;
    
}   
.foo{
    padding: 10px;
margin: auto;
    color: firebrick;
    font-size: 18px;
    width: 300px;
    height: 120px;
   
    margin-top: 50px;
    
  
}